<main id="content">
  <div class="mt-4 relative max-w-2xl w-full bg-white border border-gray-200 rounded-[24px]  flex-wrap md:flex-nowrap items-center justify-between p-1 ps-4 md:py-10 sm:mx-auto dark:bg-neutral-900 dark:border-neutral-700">
   <div class="content2">

    <app-profile></app-profile>
    <app-experience></app-experience>
    <app-projects></app-projects>

    <app-education></app-education>
    <app-skills></app-skills>

    <app-suscribe></app-suscribe>

   </div>

  </div>

</main>
