 <div id="skills" class="grow pb-8 group-last:pb-0">
    <h2 class="font-semibold text-sm text-gray-800 dark:text-neutral-200">
        Skills
   </h2>

  </div>
<!-- List -->
<div  class="space-y-3">
  <dl class="flex flex-col sm:flex-row gap-1">
    <dt class="min-w-40">
      <span class="block text-sm text-gray-500 dark:text-neutral-500">Lenguajes:</span>
    </dt>
    <dd>
      <ul>
        <li class="me-1 after:content-[','] inline-flex items-center text-sm text-gray-800 dark:text-neutral-200">
          <img class="shrink-0 size-7 me-1 invert-icon"  height=""  src="assets/icons/icons8-c.svg" alt="C-Sharp">
          C-Sharp
        </li>
        <li class="me-1 after:content-[','] inline-flex items-center text-sm text-gray-800 dark:text-neutral-200">
          <img class="shrink-0 size-7 me-1 invert-icon" height=""  src="assets/icons/icons8-logotipo-de-java-coffee-cup.svg" alt="Java">
          Java
        </li>
         <li class="me-1 after:content-[','] inline-flex items-center text-sm text-gray-800 dark:text-neutral-200">
          <img class="shrink-0 size-7 me-1 invert-icon" height=""  src="assets/icons/php-fill-svgrepo-com.svg" alt="PHP">
          PHP
        </li>
          <li class="me-1 after:content-[','] inline-flex items-center text-sm text-gray-800 dark:text-neutral-200">
          <img class="shrink-0 size-7 me-1 invert-icon" height=""  src="assets/icons/python-svgrepo-com.svg" alt="Python">
          Python
        </li>
      </ul>
    </dd>
  </dl>

  <dl class="flex flex-col sm:flex-row gap-1">
    <dt class="min-w-40">
      <span class="block text-sm text-gray-500 dark:text-neutral-500">Development:</span>
    </dt>
    <dd>
      <ul>
        <li class="me-1 after:content-[','] inline-flex items-center text-sm text-gray-800 dark:text-neutral-200">
        <img class="shrink-0 size-7 me-1 invert-icon" height=""  src="assets/icons/icons8-html.svg" alt="HTML">

          HTML
        </li>
        <li class="me-1 after:content-[','] inline-flex items-center text-sm text-gray-800 dark:text-neutral-200">
        <img class="shrink-0 size-7 me-1 invert-icon" height=""  src="assets/icons/icons8-css.svg" alt="CSS">
          CSS
        </li>
        <li class="me-1 after:content-[','] inline-flex items-center text-sm text-gray-800 dark:text-neutral-200">
        <img class="shrink-0 size-7 me-1 invert-icon" height=""  src="assets/icons/js-svgrepo-com.svg" alt="JS">

          Java Script
        </li>
        <li class="me-1 after:content-[','] inline-flex items-center text-sm text-gray-800 dark:text-neutral-200">
        <img class="shrink-0 size-7 me-1 invert-icon" height=""  src="assets/icons/icons8-angular.svg" alt="Angular">
          Angular
        </li>
        <li class="me-1 after:content-[','] inline-flex items-center text-sm text-gray-800 dark:text-neutral-200">
        <img class="shrink-0 size-7 me-1 invert-icon" height=""  src="assets/icons/icons8-nodo-js.svg" alt="Node.JS">
          Node.JS
        </li>
      </ul>
    </dd>
  </dl>

  <dl class="flex flex-col sm:flex-row gap-1">
    <dt class="min-w-40">
      <span class="block text-sm text-gray-500 dark:text-neutral-500">Base de Datos:</span>
    </dt>
    <dd>
      <ul>
        <li class="me-1 after:content-[','] inline-flex items-center text-sm text-gray-800 dark:text-neutral-200">
        <img class="shrink-0 size-7 me-1 invert-icon" height=""  src="assets/icons/microsoftsqlserver-svgrepo-com.svg" alt="SQLServer">
          SQLServer
        </li>
        <li class="me-1 after:content-[','] inline-flex items-center text-sm text-gray-800 dark:text-neutral-200">
        <img class="shrink-0 size-7 me-1 invert-icon" height=""  src="assets/icons/database-server-svgrepo-com.svg" alt="Oracle">
          Oracle
        </li>
        <li class="me-1 after:content-[','] inline-flex items-center text-sm text-gray-800 dark:text-neutral-200">
        <img class="shrink-0 size-7 me-1 invert-icon" height=""  src="assets/icons/mysql-svgrepo-comsvg" alt="MySQL">
          MySQL
        </li>
      </ul>
    </dd>
  </dl>

  <dl class="flex flex-col sm:flex-row gap-1">
    <dt class="min-w-40">
      <span class="block text-sm text-gray-500 dark:text-neutral-500">Design Expertise:</span>
    </dt>
    <dd>
      <ul>
        <li class="me-1 after:content-[','] inline-flex items-center text-sm text-gray-800 dark:text-neutral-200">
          UI/UX Design
        </li>
        <li class="me-1 after:content-[','] inline-flex items-center text-sm text-gray-800 dark:text-neutral-200">
          Design Systems
        </li>
        <li class="me-1 after:content-[','] inline-flex items-center text-sm text-gray-800 dark:text-neutral-200">
          Responsive Design
        </li>
      </ul>
    </dd>
  </dl>

  <dl class="flex flex-col sm:flex-row gap-1">
    <dt class="min-w-40">
      <span class="block text-sm text-gray-500 dark:text-neutral-500">Soft Skills:</span>
    </dt>
    <dd>
      <ul>
        <li class="me-1 after:content-[','] inline-flex items-center text-sm text-gray-800 dark:text-neutral-200">
          Strong communication
        </li>
        <li class="me-1 after:content-[','] inline-flex items-center text-sm text-gray-800 dark:text-neutral-200">
          Problem-solving
        </li>
        <li class="me-1 after:content-[','] inline-flex items-center text-sm text-gray-800 dark:text-neutral-200">
          Attention to detail
        </li>
        <li class="me-1 after:content-[','] inline-flex items-center text-sm text-gray-800 dark:text-neutral-200">
          Time management
        </li>
      </ul>
    </dd>
  </dl>
</div>
<!-- End List -->
